<div class="cards-container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <p>Charles Leclerc</p>
      </mat-card-title>
    </mat-card-header>
    <img class="card-image" src="../../assets/leclerc.jpg" alt="Charles Leclerc">
    <mat-card-content class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto modi laudantium perferendis corporis,
        expedita porro veritatis voluptatum. Voluptatibus error modi amet beatae veritatis! Quod provident delectus aperiam. Vitae, ad.</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button id="leclerc-button" (click)="irParaDashboard('Leclerc')">Saiba mais</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <p>Max Verstappen</p>
      </mat-card-title>
    </mat-card-header>
    <img class="card-image" src="../../assets/Verstappen.jpg" alt="Max Verstappen">
    <mat-card-content class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto modi laudantium perferendis corporis,
        expedita porro veritatis voluptatum. Voluptatibus error modi amet beatae veritatis! Quod provident delectus aperiam. Vitae, ad.</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button id="verstappen-button" (click)="irParaDashboard('Verstappen')">Saiba mais</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <p>Norris</p>
      </mat-card-title>
    </mat-card-header>
    <img class="card-image" src="../../assets/Norris.jpg" alt="Lando Norris">
    <mat-card-content class="card-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto modi laudantium perferendis corporis,
        expedita porro veritatis voluptatum. Voluptatibus error modi amet beatae veritatis! Quod provident delectus aperiam. Vitae, ad.</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-raised-button id="norris-button" (click)="irParaDashboard('Norris')">Saiba mais</button>
    </mat-card-actions>
  </mat-card>
</div>
