<div class="menu-container">
  <div class="about-text">
    <h1 class="title">
      <img class="angular-icon" src="../../assets/angular-icon.svg" alt="Angular icon">
      Angular Drivers Stats
    </h1>
    <span class="about">
      Escolha um dos pilotos para ver seus resultados ao longo de suas carreiras.
    </span>
  </div>
  <div class="cards-wrapper">
    <div class="cards-container">
      <mat-card class="card" id="verstappen-card" (click)="irParaDashboard('verstappen')">
        <mat-card-content class="card-content">
          <span class="driver-name">Max Verstappen</span>
        </mat-card-content>
      </mat-card>

      <mat-card class="card" id="leclerc-card" (click)="irParaDashboard('leclerc')">
        <mat-card-content class="card-content">
          <span class="driver-name">Charles Leclerc</span>
        </mat-card-content>
      </mat-card>

      <mat-card class="card" id="norris-card" (click)="irParaDashboard('norris')">
        <mat-card-content class="card-content">
          <span class="driver-name">Lando Norris</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
