
.piloto-container{
  padding-top: 2rem;
  width: 100%;
  display: flex;
}

.img-equipe{
  width: 300px;
  position: absolute;
  top: 50px;
  right: 5%;
}

.detalhe-triangulo{
  width: 100%;
  clip-path: polygon(100% 60%, 28% 100%, 100% 100%);
}

.img-carro{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
}

.nome-piloto-container{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: flex-start;
  gap: 1.5rem;
}

#sobrenome-piloto{
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

#nome-piloto{
  display: flex;
  padding-top: 1.5rem;
  justify-content: flex-end;
  font-size: 2rem;
  font-weight: 100;
  color: white;
}


.leclerc-bg-color{
  background-image: url('../../../assets/leclerc-card-background.webp');
  background-size: cover;
}

.verstappen-bg-color{
  background-image: url('../../../assets/verstappen-card-background.webp');
  background-size: cover;
}

.norris-bg-color{
  background-image: url('../../../assets/norris-display-bg.webp');
  background-size: cover;
}

.leclerc-secondary-bg-color{
  background: #FFF200;
}

.verstappen-secondary-bg-color{
  background: #E30118;
}

.norris-secondary-bg-color{
  background: #000;
}

@media (max-width: 1500px){
  .img-carro{
    top: 100px;
    width: 600px;
  }

  .img-piloto{
    width: 350px;
  }
}

@media (max-width: 1050px){
 .img-carro{
    width: 500px;
  }

  .img-piloto{
    width: 300px;
  }

  .img-equipe{
    width: 200px;
    position: absolute;
    top: 75px;
    right: 5%;
  }

  #sobrenome-piloto{
    font-size: 3rem;
  }

  #nome-piloto{
    font-size: 1.5rem;
  }
}

@media (max-width: 800px){
  .img-carro{
    width: 300px;
    top: 75px;
  }

  .img-piloto{
    width: 200px;
  }

  .img-equipe{
    width: 150px;
    position: absolute;
    top: 70px;
    right: 5%;
  }

  .nome-piloto-container{
    padding-top: 1rem;
    gap: 1rem;
  }

  #sobrenome-piloto{
    font-size: 2rem;
  }

  #nome-piloto{
    padding-top: 0;
  }
}


@media (max-width: 550px){
  .img-carro{
    width: 200px;
    top: 70px;
  }

  .img-piloto{
    width: 150px;
  }

  .img-equipe{
    width: 125px;
    top: 30px;
  }

  .nome-piloto-container{
    padding-top: .5rem;
    gap: .5rem;
  }

  #sobrenome-piloto{
    font-size: 1.5rem;
  }

  #nome-piloto{
    font-size: 1rem;
  }
}

@media (max-width: 400px){
  .piloto-container{
    padding-top: 3rem;
  }

  .img-carro{
    width: 150px;
    top: 75px;
  }

  .img-piloto{
    width: 100px;
  }

  .img-equipe{
    width: 100px;
    top: 50px;
  }

  .nome-piloto-container{
    padding-top: .5rem;
    gap: .2rem;
  }

  #sobrenome-piloto{
    font-size: 1rem;
  }

  #nome-piloto{
    font-size: .7rem;
  }
}
