<div class="dashboard-body">
  <nav class="navbar">
    <button class="navbar-btn" id="menu-btn" (click)="irParaMenu()">Menu</button>
    <button class="navbar-btn" id="verstappen-btn" (click)="irParaPiloto('verstappen')">Verstappen</button>
    <button class="navbar-btn" id="leclerc-btn" (click)="irParaPiloto('leclerc')">Leclerc</button>
    <button class="navbar-btn" id="norris-btn" (click)="irParaPiloto('norris')">Norris</button>
  </nav>

  <nav id="sidenav">
    <button class="sidenav-btn" id="close-sidenav-btn">
      <i class="material-icons" (click)="closeSideNav()">close</i>
    </button>
    <div class="sidenav-btns">
      <button class="sidenav-btn" id="sidenav-menu-btn" (click)="irParaMenu()">Menu</button>
      <button class="sidenav-btn" id="sidenav-verstappen-btn" (click)="irParaPiloto('verstappen')">Verstappen</button>
      <button class="sidenav-btn" id="sidenav-leclerc-btn" (click)="irParaPiloto('leclerc')">Leclerc</button>
      <button class="sidenav-btn" id="sidenav-norris-btn" (click)="irParaPiloto('norris')">Norris</button>
    </div>
  </nav>

  <button (click)="openSideNav()" id="open-sidenav-btn">
    <i class="material-icons">menu</i>
  </button>

  <app-piloto-display [nomeDoPiloto]="nomeDoPiloto"></app-piloto-display>

  <h1>Estatísticas</h1>

  <div class="seleciona-temporada">
    <mat-form-field>
      <mat-label>Temporada</mat-label>
      <mat-select [(value)]="temporadaSelecionada" (selectionChange)="mudarTemporada($event)">
        <mat-option *ngFor="let ano of anos" [value]="ano">{{ano}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="graficos-container">
    <div class="cards-container">
      <mat-card class="line-chart">
        <mat-card-content>
          <app-grafico-de-linha
          [lineChartDataConfig]="resultadosEmTemporadaChartConfig"
          [lineChartOptionsPlugins]="getPluginsResultadosEmTemporadaLineChart()"
          [maxYValue]="20"
          [chartColor]="getChartColor()"
          >
          </app-grafico-de-linha>
        </mat-card-content>
      </mat-card>

      <mat-card class="line-chart">
        <mat-card-content>
          <app-grafico-de-linha
          [lineChartDataConfig]="podiosPorTemporadaChartConfig"
          [lineChartOptionsPlugins]="getPluginsResultadosPorTemporadaLineChart('Pódios em')"
          [maxYValue]="24"
          [chartColor]="getChartColor()"
          >
          </app-grafico-de-linha>
        </mat-card-content>
      </mat-card>

      <mat-card class="line-chart">
        <mat-card-content>
          <app-grafico-de-linha
          [lineChartDataConfig]="pontosPorTemporadaChartConfig"
          [lineChartOptionsPlugins]="getPluginsResultadosPorTemporadaLineChart('Pontos em')"
          [chartColor]="getChartColor()"
          >
          </app-grafico-de-linha>
        </mat-card-content>
      </mat-card>

      <mat-card class="pie-chart">
        <span>{{getTextoResultadosEmTemporadaSelecionada('Resultados em')}}</span>
        <mat-card-content>
          <app-grafico-doughnut
          [pieChartDataConfig]="resultadosEmTemporadaPieChartConfig"
          [tooltipCallbacks]="getResultadosEmTemporadaTooltipCallbacks()"
          [chartColors]="getDoughnutChartColors()"
          >
          </app-grafico-doughnut>
        </mat-card-content>
      </mat-card>

      <mat-card class="pie-chart">
        <span>{{getTextoResultadosEmTemporadaSelecionada('Zonas de classificação em')}}</span>
        <mat-card-content>
          <app-grafico-doughnut
          [pieChartDataConfig]="zonasDeClassificacaoPieChartConfig"
          [labelsPieChart]="['Q1', 'Q2', 'Q3']"
          [tooltipCallbacks]="getZonasDeClassificacaoTooltipCallbacks()"
          [chartColors]="getDoughnutChartColors()"
          >
          </app-grafico-doughnut>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
